<% const dashboardContent = ' ' %>
<%- include('./template', { content: dashboardContent }) %>

<div class="container">
    <h1 class="custom-heading">Dashboard admin</h1>

    <div class="dashboard-container">
        <div class="dashboard-box">
            <h3>Box 1</h3>
            <p>Content 1</p>
        </div>
        <div class="dashboard-box">
            <h3>Box 2</h3>
            <p>Content 2</p>
        </div>
        <div class="dashboard-box">
            <h3>Box 3</h3>
            <p>Content 3</p>
        </div>
        <div class="dashboard-box">
            <h3>Box 4</h3>
            <p>Content 4</p>
        </div>
    </div>
    
</div>
