<% const detailContent = ' ' %>
<%- include('./template', { content: detailContent }) %>

<div class="container">
    <h1 class="custom-heading">Detail Formulir</h1>

    <div class="detail-item">
        <span class="detail-label">Tanggal Dikirim:</span>
        <span class="detail-value"></span>
    </div>
    <div class="detail-item">
        <span class="detail-label">NIM:</span>
        <span class="detail-value"></span>
    </div>
    <div class="detail-item">
        <span class="detail-label">Nama Mahasiswa:</span>
        <span class="detail-value"></span>
    </div>
    <div class="detail-item">
        <span class="detail-label">Detail:</span>
        <span class="detail-value"></span>
    </div>
    <div class="detail-item">
        <span class="detail-label">Status:</span>
        <span class="detail-value">
            
        </span>
    </div>

    
    <a href="/admin/persetujuan" class="btn">Kembali</a>
</div>