<% const persetujuanContent = 'admin/persetujuan' %>
<%- include('./template', { content: persetujuanContent }) %>

<div class="container">
    <h1 class="custom-heading">Permintaan Surat Masuk</h1>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Tanggal</th>
                <th>NIM</th>
                <th>Nama Mahasiswa</th>
                <th>Detail</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
            <td>1</td>
            <td>y278728</td>
            <td>njksnjkbhjs</td>
            <td>jjkknjr</td>
            <td>
                <button class="btn"><i class="fa-solid fa-circle-info fa-lg"></i>Detail</button>
            </td>
            <td>
                <button class="btn"><i class="fa-solid fa-circle-check fa-lg"></i>Terima</button>
                <button class="btn"><i class="fa-solid fa-circle-xmark fa-lg"></i>Tolak</button>
            </td>
            <td style="font-style: italic; font-size: small; color:#4F6F52; text-decoration: underline;">Diterima</td>
        </thead>
    </table>
    <% lihatPersetujuan %>
<% nomorSurat %>
<% tanggalDikirim %>
<% penerima %>
<% instansi %>
<% judulTA %>
<% title %>

</div>
