<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/style.css" rel="stylesheet">
    <link href="/input.css" rel="stylesheet">
    
</head>
<body>
  <div class = "container">
    <div class="login">
      <form method="POST" action="/auth/checklogin">
        <h1>LOGIN</h1>
        <hr>
        <br>
        <label for ="email">Email</label>
        <input type="text" id ="email" name="email" placeholder="Masukkan email anda">
        <label for ="email">Password</label>
        <input type="password"  id="password" name="password" placeholder="Masukkan password anda">
        <button type="submit">Login</button>
      </form>
    </div>
    <div class="right">
      <div class="logo">
        <img src="img/logo.png" alt ="unand" >
      </div>
    </div>
    

  </div>

  <script src="./node_modules/preline/dist/preline.js"></script>
      <script>src="preline.js"</script>
</body>
</html>