
/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Setting font family */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f3f3f3; /* Cream color */
}
.poppins-light{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
  }
  

/* Navbar styling */
.navbar {
    position: fixed; /* Membuat navbar menempel */
    top: 0; /* Menempatkan navbar di bagian atas halaman */
    left: 0;
    width: 100%; /* Lebar navbar mengikuti lebar layar */
    background-color: #1A4D2E;
    color: white;
    padding: 10px;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: right; /* Mengatur jarak antara elemen di dalam navbar */
    align-items: center;
    z-index: 1000; /* Menentukan urutan tumpukan (z-index) navbar */
}

.navbar-toggle {
    cursor: pointer;
}

.logo-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-profile img {
    height: 30px;
    width: auto;
}

.profile-icon, .notification-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    margin-left: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    left: 0;
    top:50px;
    width: 200px;
    height: calc(100vh - 50px); 
    background-color: #4F6F52; /* Dark green */
    padding: 20px;
    color: #ffffff; /* White */
}

/* Sidebar links styling */
.sidebar ul {
    list-style: none;
    padding: 0;
    

}

.sidebar ul li {
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff; /* White */
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 8px 0;
    transition: all 0.3s ease;
    
}

.sidebar ul li a i {
    margin-right: 10px;
    padding-left: 10px;
}

/* .sidebar ul li a:hover,  {
    background-color: #134025; 
    border-radius: 5px;
} */

.sidebar ul li:hover, .sidebar ul li.active {
    background-color: #ffffff; /* White background */
    color: #4F6F52; /* Dark green text */
    border-radius: 5px;
}

.sidebar ul li:hover a, .sidebar ul li.active a {
    color: #4F6F52; /* Dark green text */
}

/* Specific hover state for links to override default color */
.sidebar ul li a:hover {
    background-color: transparent; /* Ensure link itself does not change background */
}
/* Logout link styling */
.logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    color: #ffffff; /* White */
    display: flex;
    align-items: center;
}

.logout i {
    margin-right: 10px;
}

/* Container styling */
.container {
    margin-left: 220px; 
    margin-top: 80px;
    margin-right: 20px;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 70px);
}

/* Heading styling */
.heading {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #1A4D2E; /* Dark green */
}

/* Profile info styling */
.profile-info {
    background-color: #f3f3f3; /* Cream color */
    padding: 20px;
    border-radius: 8px;
}

/* Individual info row styling */
.info-row {
    margin-bottom: 10px;
}

/* Info label styling */
.info-label {
    font-weight: bold;
}

#sidebar.active {
    left: 0; /* Tampilkan sidebar */
}

.logout {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .logout i {
    margin-right: 8px; /* Optional: Adjust space between icon and text */
  }

  /* CSS untuk tombol logout */
  .logout {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    display: flex;
    align-items: center;
    font: inherit;
    padding: 0;
    margin: 0;
}

/* CSS untuk modal */
.modal {
    display: none; /* Sembunyikan modal secara default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    overflow: auto;
    color : #333;
    background-color: rgba(0, 0, 0, 0.5); /* Tambahkan lapisan transparan di belakang modal */
}

.modal-content {
    font-size: small;
    background-color: #fefefe;
    margin: 15% auto; /* Letakkan modal di tengah halaman */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.modal-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
}

.modal-body {
    padding: 20px 0;
}

.modal-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
}

.confirm-button {
    background-color: #4CAF50; /* Hijau */
    color: white;
}

.confirm-button:hover {
    background-color: #45a049;
}

.cancel-button {
    background-color: #949494; /* Merah */
    color: white;
}

.cancel-button:hover {
    background-color: #898989;
}


.show {
    display: block;
}

/* .notification {
    margin-right: 15px;
} */

/* Profile dropdown styling */
.profile-dropdown {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.profile-dropdown img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #fff;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    padding: 0; 

}

.profile-dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.profile-dropdown:hover .profile-dropdown-content {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: #1A4D2E;
}

.custom-heading {
    color: #134025;
    padding-bottom: 8px;
}

.btn {
    background-color: #4F6F52;
    color: #f1f1f1; /* Light text */
    border: none; /* Remove default border */
    font-size: 12px; /* Font size */
    padding: 10px 10px; /* Padding for the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 5px; /* Add some margin around the buttons */
    text-align: center;
    display: inline-block; /* Ensure buttons stay inline */
}

.btn i {
    margin-right: 5px;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    margin-left: 250px;
    max-width: 800px;
    width: 100%;
}
.dashboard-box {
    background-color: #4F6F52;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dashboard-box h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color : #F5EFE6;
}
.dashboard-box p {
    margin: 0;
    font-size: 1.2em;
    color : #F5EFE6;
}

.custom-confirm {
    display: flex; 
    justify-content:space-around; 
    width: 100%;
}

.custom-confirm button {
    width: 90px;
    height : 40px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    margin-left: 10px;
}

.detail-label {
    font-weight: bold;
    color: #333;
    flex: 1;
    margin-right: 20px;
}

.detail-value {
    flex: 4;
    text-align: left;
    color: #555;
}

.dropdown {
    display: inline-block;
    padding-bottom: 10px;
  }
  
.dropbtn {
    background-color: #4F6F52;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    
  }
  .dropbtn:hover {
    background-color: #678f6b; /* Darker green on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow on hover */
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #4F6F52; /* Green text */
    padding: 12px 16px; /* Padding */
    text-decoration: none; /* No underline */
    display: block; /* Block display */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  }

  /* Dropdown content links hover effect */
.dropdown-content a:hover {
    background-color: #678f6b; /* Green background on hover */
    color: white; /* White text on hover */
}
.dropdown:hover .dropdown-content {
    display: block;
  }

  .notification-icon {
    background-color: transparent;
    padding-right: 40px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notification-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 400px;
    max-height: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow-y: auto;
    text-align: left;
    padding: 0;
}

.notification-header {
    background-color:#4F6F52;
    height: 50px;
}

.notification-header h3 {
    padding-left:20px ;
    padding-top: 10px;
}

.notification-content {
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
}

.notification-content li {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.notification-content li:last-child {
    border-bottom: none;
}

.notification-content li:hover {
    background-color: #f1f1f1;
}

.notification-icon:hover .notification-dropdown-content {
    display: block;
    overflow-y: auto;
}

.notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    position: relative; /* Pastikan posisi relatif untuk indikator */
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-item:hover {
    background-color: #f1f1f1;
}

.indicator {
    width: 20px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 10px; 
}

/* Styling untuk notifikasi */
.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
    
  }
  
.notification {
    background-color: #f0f8ff;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

.profile {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #fff;
}