<% const panduanContent = '' %>
<%- include('./template', { content: panduanContent }) %>

<div class="container">
    <div class="flex h-screen bg-green-800 text-white">
        <div class="m-auto p-8 rounded-lg bg-green-700 shadow-lg">
          <h2 class="text-2xl font-bold mb-4">Panduan Pengguna</h2>
          <p class="mb-4">Web permintaan surat data ini dibuat dengan tujuan untuk menyediakan platform yang efisien dan terintegrasi bagi mahasiswa, admin, dan kaprodi dalam mengelola permintaan dan pengelolaan surat data.</p>
          <p>web ini hanya bisa diakses oleh Mahasiswa Sistem Informasi.</p>
        </div>
      </div>
</div>