<% const panduanContent = '' %>
<%- include('./template', { content: panduanContent }) %>

<div class="container">
    <div class="flex h-screen bg-green-800 text-white">
        <div class="m-auto p-8 rounded-lg bg-green-700 shadow-lg">
          <h2 class="text-2xl font-bold mb-4">Panduan Pengguna</h2>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at massa ut dui lobortis rutrum at sed diam. Pellentesque sed eros quis mi pellentesque dictum. Aenean pharetra sit amet mi vitae faucibus. Praesent egestas neque pede aliquam mauris nisl pulvinar. Mauris placerat ante urna, in egestas orci bibendum id. Morbi vestibulum ait at augue facilisis, sed molestie nunc gravida. Sed mollis iaculis ante et cursus. Morbi mattis diam posuere nibh suscipit lobortis. Duis rutrum atque diam auctor vulputate nibh laesxrit dolor rutrum.</p>
          <p>Morbi mattis diam posuere nibh suscipit lobortis. Duis rutrum atque diam auctor vulputate nibh laesxrit dolor rutrum atque diam auctor vulputate nibh laesxrit dolor rutrum ut, congue tellus. Sed eu posuere tellus. Cras at rhoncus nunc. In eu netutr Laeebs in magna sed dignissim. Sed mollis auctor neque, vitae posuere enim aliquet at.</p>
        </div>
      </div>
</div>