  <!-- Sidebar -->
  <div class="sidebar">
    <ul>
      <li><a href="#"><i class="fas fa-home"></i> Dashboard</a></li>
      <li><a href="#"><i class="fas fa-clipboard"></i> Formulir</a></li>
      <li><a href="#"><i class="fas fa-check-circle"></i> Persetujuan</a></li>
      <li><a href="#"><i class="fas fa-check"></i> Diterima</a></li>
      <li><a href="#"><i class="fas fa-times"></i> Ditolak</a></li>
      <li><a href="#"><i class="fas fa-history"></i> Riwayat</a></li>
    </ul>
    <!-- Logout link at the bottom -->
    <a href="#" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>
